[Unit]
Description=uWSGI Service for Flask Recipe API
Requires=nginx.service
After=nginx.service

[Service]
User=divreg
WorkingDirectory=/var/www/recipe-api
ExecStart=/usr/local/bin/uwsgi --ini /var/www/recipe-api/config.ini
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=flask-recipe-api

[Install]
WantedBy=multi-user.target
