[Unit]
Description=uWSGI Service for Flask Recipe API
Requires=nginx.service
After=nginx.service

[Service]
User=__user__
WorkingDirectory=__dir__/api
ExecStart=__dir__/.venv/bin/uwsgi --ini __dir__/api/config.ini
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=flask-recipe-api

[Install]
WantedBy=multi-user.target
