# hugo artifacts
themes/
public/
assets/
resources/
.hugo_build.lock

# jupyter artifacts
.ipynb_checkpoints/

# generated deployment files
server/systemd/recipe-api.service
server/api/config.ini
server/config.ini
